{
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "embedded-language-formatting": "auto",
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "useTabs": false
}
