<div class="container flex-column">
  <div class="section flex-column" id="loading" style="display: block">
    <div class="flex-row gap-5">
      <i class="codicon codicon-sync codicon-modifier-spin"></i>
      <p>Seting up appium... Hang tight!</p>
    </div>
    <p id="loader-message"></p>
  </div>
  <div class="section flex-column" id="appium-not-found" style="display: none">
    <div class="card flex-columntext-center">
      <div class="content">
        Unable to find any installed appium version 2 on the machine.
      </div>
    </div>
    <div class="flex-row">
      <vscode-button id="refresh-button">Refresh</vscode-button>
    </div>
  </div>
  <div
    class="section flex-column"
    id="configure-appium-path"
    style="display: none"
  >
    <div class="section flex-column gap-5">
      <div class="card">
        <div class="content line-height-1_5">
          Found appium with version
          <span id="appium-version" class="link-blue"></span>
          globally installed in
          <span id="appium-path" class="link-blue break-word"></span>
        </div>
      </div>
      <div class="note margin-5">
        To use the globally installed appium click on Save and continue. If you
        want to use a different appium executable, then you can manually update
        the path of executable in the vscode preferences.
      </div>
      <div class="flex-row gap-5 full-width">
        <vscode-button id="save-and-continue" class="grouped-button"
          >Save and continue</vscode-button
        >
        <vscode-button id="update-appium" secondary class="grouped-button"
          >Update in settings</vscode-button
        >
      </div>
    </div>
  </div>
</div>
