<div class="container flex-column">
  <div class="section flex-column" id="loading" style="display: block">
    <div class="flex-row gap-5">
      <i class="codicon codicon-sync codicon-modifier-spin"></i>
      <p>Seting up appium... Hang tight!</p>
    </div>
    <p id="loader-message"></p>
  </div>
  <div
    class="section flex-column gap-5"
    id="appium-version-not-supported"
    style="display: none"
  >
    <div class="card flex-column gap-5">
      <div class="content">
        The appium version <span id="appium-source"></span> is unsupported.
        Required appium version is
        <span id="required-appium-version" class="link-blue"></span>
        and actual version installed is
        <span id="actual-appium-version" class="link-blue"></span>
      </div>
    </div>
    <vscode-button class="flex-row full-width refresh-button">
      <span class="flex-row gap-5"
        ><i class="codicon codicon-sync"></i>Refresh</span
      >
    </vscode-button>
  </div>
  <div
    class="section flex-column gap-5"
    id="appium-not-found"
    style="display: none"
  >
    <div class="card flex-column text-center">
      <div class="content flex-column gap-5">
        Unable to find any installed appium with version >=2.0.0 on the machine.
        Install the latest version via npm and refresh again.
        <div class="md-code">npm install -g appium@next</div>
      </div>
    </div>
    <div class="flex-row full-width">
      <vscode-button class="full-width refresh-button">
        <span class="flex-row gap-5"
          ><i class="codicon codicon-sync"></i>Refresh</span
        >
      </vscode-button>
    </div>
  </div>
  <div
    class="section flex-column"
    id="configure-appium-path"
    style="display: none"
  >
    <div class="section flex-column gap-5">
      <div class="card">
        <div class="content line-height-1_5">
          Found appium with version
          <span id="appium-version" class="link-blue"></span>
          globally installed in
          <span id="appium-path" class="link-blue break-word"></span>
        </div>
      </div>
      <div class="note margin-5">
        To use the globally installed appium click on Save and continue. If you
        want to use a different appium executable, then you can manually update
        the path of executable in the vscode preferences.
      </div>
      <div class="flex-row gap-5 full-width">
        <vscode-button id="save-and-continue" class="grouped-button"
          >Save and continue</vscode-button
        >
        <vscode-button id="update-appium" secondary class="grouped-button"
          >Update in settings</vscode-button
        >
      </div>
    </div>
  </div>
</div>
