body,
html {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gap-15 {
  gap: 15px;
}

.gap-5 {
  gap: 5px;
}

.card {
  width: 100%;
  color: var(--vscode-foreground);
  background-color: var(--vscode-editor-background);
}

.card .content {
  width: 100%;
  padding: 8px;
  word-break: break-word;
  line-height: 1.4;
}

.text-center {
  text-align: center;
}

.md-code {
  background-color: var(--vscode-welcomePage-tileBackground);
  padding: 4px;
  font-weight: 600;
  word-break: break-all;
  border-radius: 10%;
}

.break-word {
  word-break: break-all;
}

.line-height-1_5 {
  line-height: 1.5;
}

.link-blue {
  color: var(--vscode-textLink-foreground);
}

.full-width,
.grouped-button,
.section {
  width: 100%;
}

.margin-5 {
  margin: 5px;
}

.note {
  font-weight: 300;
  font-size: 12px;
}
/* vscode single select component */
vscode-form-group {
  padding: 5px !important;
}
